html {
  font-family: monospace;
  background: fixed url(https://images.unsplash.com/photo-1507908708918-778587c9e563?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c103c10901350e8778c41dfc521eff55&auto=format&fit=crop&w=934&q=80);
  background-size: cover
}

header {
  text-align: center;
  background-color: blue;
}

header>p, h1 {
  font-size: 3rem;
  margin: 0;
}

body {
  margin: 0 auto;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(0, 0, 0);
  box-sizing: border-box;
  padding-top: 9rem;
  width: 12.3%;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

main {
  display: flex;
  margin-left: 13.6rem;
  border: red solid;
  text-align: center;
  flex-direction: column;
  font-size: 1.5em;
  padding-bottom:1em;
}

ul {
  padding: 10px 20px;
}

ul li {
  padding: 2rem 0;
}

ul li a {
  font-size: 2em;
}

a {
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main p {
  background:rgba(100,100,100,.5);
  border-radius: 10px;
  color:rgb(230,230,230)
}
